#!/bin/bash
set -e

export LOG_DIR=/var/log/ispawn
mkdir -p $LOG_DIR
echo "[$(date)] Starting container initialization..." > "${LOG_DIR}/entrypoint.log"
chown $USER_UID:$USER_UID ${LOG_DIR}/entrypoint.log
exec 1> >(tee -a "${LOG_DIR}/entrypoint.log")
exec 2>&1

apt-get update

apt-get upgrade -y --no-install-recommends ca-certificates adduser

locale-gen en_US.UTF-8
update-locale LANG=en_US.UTF-8
dpkg-reconfigure -f noninteractive locales
update-locale LANG=en_US.UTF-8
ln -s /usr/share/zoneinfo/{{ timezone }} /etc/localtime

{{ entrypoint_chunk|safe }}

# Create user if it doesn't exist
if ! getent passwd "$USER_NAME" &>/dev/null; then
    echo "[$(date)] Creating user $USER_NAME..."
    useradd -m -s /bin/bash -u $USER_UID "$USER_NAME"
    echo "$USER_NAME:$USER_PASS" | chpasswd
    if [ "$USER_AS_SUDO" = "1" ]; then
        adduser "$USER_NAME" sudo
    fi
    echo "[$(date)] User $USER_NAME created successfully"
fi

if [ "$USER_AS_SUDO" = "1" ]; then
    echo "$USER_NAME ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers
fi

mkdir -p /var/log/ispawn/services
chown -R $USER_NAME:$USER_NAME /var/log/ispawn/services
{% for service in services %}
echo "[$(date)] Starting {{ service }} service..."
echo "" > /var/log/ispawn/services/{{ service }}.log
chown $USER_NAME:$USER_NAME /var/log/ispawn/services/{{ service }}.log
bash /usr/local/bin/ispawn-entrypoint-{{ service }}.sh
echo "[$(date)] {{ service }} initiated."
{% endfor %}

chown -R $USER_UID:$USER_UID ${LOG_DIR}/services

sleep infinity
