services:
  traefik:
    image: traefik:v3.2.2
    container_name: {{name}}-traefik
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "/etc/ispawn/traefik.yml:/traefik.yml:ro"
      {% if cert_mode == "provided" or mode == "local" %}
      - {{cert_dir}}:/certs:ro
      - "/etc/ispawn/shared_providers_dynamic.yml:/etc/traefik/shared_providers_dynamic.yml:ro"
      {% endif %}
    ports:
      - "80:80"
      - "443:443"
    environment:
      - "NO_PROXY={{subnet}}"
      - "no_proxy={{subnet}}"
    networks:
      - {{network_name}}

networks:
  {{network_name}}:
    name: {{network_name}}
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: {{subnet}}
