entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
providers:
  docker:
    exposedByDefault: false
  {% if cert_mode == "provided" or mode == "local" %}
  file:
    filename: /etc/traefik/shared_providers_dynamic.yml
    watch: true
  {% endif %}
{% if cert_mode == "letsencrypt" %}
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{email}}
      storage: "acme.json"
      tlsChallenge: true
{% endif %}
